.search {
  position: absolute;
  display: flex;
  width: 100%;
  // border: 2px solid black;
  padding: 10px;
  &__input {
    flex-basis: 50%;
    font-size: 20px;
    padding-left: 10px;
    letter-spacing: 2px;
    background-color: transparent;
    border-style: none;
  }
  &__btn {
    flex-grow: 1;
    padding: 5px 5px;
    margin-left: 10px;
    font-size: 17px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    text-transform: uppercase;
    letter-spacing: 3px;
    &:hover {
      background-color: white;
      border: 2px solid black;
      color: black;
      cursor: pointer;
    }
  }
}
