.search {
  flex-basis: 20%;

  &__input {
    line-height: 300%;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    transform: translate(3%, -20%);
    letter-spacing: 2px;
  }
  &__btn {
    padding: 15px 15px;
    font-size: 20px;
    border-bottom-left-radius: 90%;
    font-weight: bold;
    transform: translate(90%, -30%);
    &:hover {
      background-color: white;
      border: 2px solid black;
      color: black;
      cursor: pointer;
    }
  }
}
