$breakpoints: (
  little: (
    min-width: 375px,
  ),
  small: (
    min-width: 411px,
  ),
  smallx: (
    min-width: 568px,
  ),
  xsmall: (
    min-width: 640px,
  ),
  xmedium: (
    min-width: 768px,
  ),
  medium: (
    min-width: 800px,
  ),
  large: (
    min-width: 1024px,
  ),
  xlarge: (
    min-width: 1240px,
  ),
  xxlarge: (
    min-width: 1440px,
  ),
);

@mixin mediaqueries($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);

  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" <-- nie rozpoznaje tej wielkości!';
  }
}
