.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mediaqueries(small) {
    top: 69%;
  }
  @include mediaqueries(smallx) {
    top: 50%;
    left: 74%;
  }
  @include mediaqueries(xsmall) {
    top: 50%;
    left: 70%;
  }
  @include mediaqueries(medium) {
    left: 74%;
  }

  &__temp {
    font-size: 70px;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    margin: 0 40px;
    @include mediaqueries(smallx) {
      margin: 0 185px;
    }
    @include mediaqueries(smallx) {
      font-size: 65px;
    }
    @include mediaqueries(xsmall) {
      margin: 0 200px;
    }
    @include mediaqueries(medium) {
      margin: 0 280px;
    }
  }
  &__city {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-top: 20px;
    @include mediaqueries(smallx) {
      font-size: 25px;
    }
  }
  &__weather-description {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    margin: 0 40px;
    @include mediaqueries(smallx) {
      margin: 0 145px;
    }
    @include mediaqueries(smallx) {
      top: 50%;
      left: 65%;
      font-size: 17px;
    }
    @include mediaqueries(xsmall) {
      margin: 0 160px;
    }
    @include mediaqueries(medium) {
      margin: 0 230px;
    }
  }
}
