.info {
  flex-grow: 1;
  margin-top: 20px;
  padding: 60px 30px 0 30px;
  border: 3px solid black;

  &__image {
    width: 100%;
    padding-bottom: 15px;
  }
  &__temp {
    font-size: 70px;
    padding-bottom: 10px;
  }
  &__weather-description {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }
  &__city {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
