.info {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__temp {
    font-size: 70px;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    margin: 0 40px;
  }
  &__city {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-top: 20px;
  }
  &__weather-description {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    margin: 0 40px;
  }
}
