.weather__image {
  position: fixed;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -150%);
  width: 60%;
}

.weather__date {
  position: fixed;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  font-size: 14px;
}

.weather__message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 200%;
  border: 2px solid black;
}
