.wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  position: relative;
  @include mediaqueries(xxlarge) {
    border: 2px solid black;
  }
  &__image {
    opacity: 0.9;
    width: 100%;
    @media (min-width: 375px) {
      width: 123%;
    }
    @include mediaqueries(small) {
      width: 113%;
    }
  }
}
